
<div class="ui card">
  <div class="image">
<!--         <img src="<%= element %>">
 -->  </div>
  <div class="content">
    <div class="meta">
    </div>
    <div class="description">
     <input type="text" id="input" placeholder="Your Guess">
     <input type="submit" id="submit">
    </div>
  </div>
</div>







