

<div class="ui page active dimmer">
  <div class="content">
    <div class="center">

        <h1> <p>Aromas </p></h1>


        <p1>Hey there foodies!</p>
        <p2>Aroma is a fun way to learn about different spices and herbs</p>
        <p>and how to use them in different recipes</p> 


         
        <button class="ui inverted orange basic button" id="start-game">Start Game</button>

    </div>
</div>
</div>





